{% extends "base.html" %}

{% block title %}Change password{% endblock %}

{% block content %}
<div class="mt-4 mb-3">
    <h3>Change password</h3>
</div>
<form action="" method="POST">
    <div class="mb-3">
        {{ form.old_password.label }}
        {% if not form.old_password.errors %}
            {{ form.old_password(class="form-control") }}
        {% else %}
            {{ form.old_password(class="form-control is-invalid") }}
            {% for error in form.old_password.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.password.label }}
        {% if not form.password.errors %}
            {{ form.password(class="form-control") }}
        {% else %}
            {{ form.password(class="form-control is-invalid") }}
            {% for error in form.password.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.password2.label }}
        {% if not form.password2.errors %}
            {{ form.password2(class="form-control") }}
        {% else %}
            {{ form.password2(class="form-control is-invalid") }}
            {% for error in form.password2.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
    {{ form.csrf_token }}
</form>

{% endblock %}